:root {
    --light: seashell;
}

* {
    margin: 0;
    padding: 0;
    font-family: Gluten, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

button {
    font-family: Gluten, sans-serif;
    font-size: 25px;
}

body {
    background-image: linear-gradient(to right, purple, tomato);
    overflow: hidden;
    color: black;
}

main {
    display: flex;
}

/* styling of replaced words */
span {
    color: salmon;
    font-size: large;
}

/*-------------------------LEFT DIV-------------------------*/
#left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    max-width: 50vw;
    min-width: 250px;
    height: 100vh;
    border-right: var(--light) solid 0px;
    box-shadow: 2px 0px 10px black;
    overflow-y: auto;
    z-index: 2;
}
#left-header {
    max-height: 100vh;
    fill: var(--light);
    text-shadow: black 0px 4px 8px;
    font-size: xx-large;
    overflow: hidden;
    user-select: none;
}
path {
    fill: transparent;
}
#form {
    padding: 25px;
    line-height: 1.2;
    min-width: 230px;
}
#form h2 {
    margin-bottom: 2px;
}
#form p {
    opacity: 75%;
    font-size: 14px;
}
#form input {
    width: 90%;
    padding: 3px 0;
    font-family: Gluten, sans-serif;
    font-size: larger;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}
.input-item {
    margin: 1px;
    padding: 2px 3px 0px;
    background: gray;
    border-radius: 4px;
    font-size: medium;
}
.input-item:hover {
    opacity: 50%;
}
#form-buttons {
    padding: 20px;
    min-width: 200px;
}
#submit {
    margin: 4px;
    padding: 11px 10px 5px;
    font-weight: bolder;
    box-shadow: white 0 0 15px;
    border-radius: 10px;
}
#submit:hover {
    box-shadow: gold 0 0 15px;
}
#load {
    margin: 4px;
    padding: 0 8px 5px;
    background: transparent;
    border-radius: 10px;
    font-weight: bolder;
}
#erase {
    margin: 4px;
    padding: 11px 10px 5px;
    background: transparent;
    font-weight: bolder;
    border-radius: 10px;
}
/*-------------------------COLLAPSE BUTTON-------------------------*/
#collapse {
    height: 25px;
    padding: 4px;
    background: purple;
    border-bottom-right-radius: 8px;
    opacity: 75%;
    z-index: 2;
}

/*-------------------------RIGHT DIV-------------------------*/
#right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
    z-index: 2;
    width: 100%;
}

#right-header {
    margin: 0 30px 20px 0;
    display: flex;
    justify-content: space-around;
}
#spacer {/*to align right title to center*/
    display: none;
    width: 8vw;
}
#right-title {/*TODO - prevent text from wrapping*/
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 3vw;
}
#article-buttons {
    display: none;
    text-align: right;
    right: 0;
    margin: 12px 20px;
}
#wackified-wiki {
    margin: 4px;
    padding: 11px 10px 5px;
    background: transparent;
    font-weight: bolder;
    border-radius: 10px;
}
#og-wiki {
    margin: 4px;
    padding: 11px 10px 5px;
    background: transparent;
    font-weight: bolder;
    border-radius: 10px;
}
#article {
    visibility: hidden;
    margin: 0 calc(2.5vw + 30px) 0 2.5vw;
    padding: 30px 2.5vw 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(255, 245, 238, 0.25);
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, rgba(182, 186, 255, 0.25), rgba(182, 186, 255, 0.25) 1px, rgba(255, 245, 238, 0.25) 1px, rgba(255, 245, 238, 0.25));
}
#wiki-title {
  text-decoration: underline;
  padding-bottom: 10px;
}
#tts {
    visibility: hidden;
    /* opacity: 0; */
    /* transition: opacity 1s; */
    display: flex;
    flex-direction: column;
    padding: 34px 5px 24px;
    font-size: larger;
    user-select: none;
    max-width: 300px;
}
#tts:hover {
    visibility: visible;
    /* opacity: 1; */
}
#tts select {
    width: 200px;
    margin-bottom: 4px;
    font-family: Gluten, sans-serif;
    font-size: large;
}
#tts input {
    width: 150px;
}
#tts button {
    padding: 1px 10px 4px 7px;
    border-radius: 10px;
    font-weight: bolder;
}

/*-------------------------WELCOME SCREEN SPEECH BUBBLE MODAL-------------------------*/
.modal-content {
    width: 69vw
}
.box {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    background: var(--light);
    padding: 30px 45px;
    font-weight: 900;
    position: relative;
    text-align: center;
}
.box h1 {
    margin-bottom: 10px;
    font-size: 35px;
}
.box p {
    font-size: 25px;
}
.box h2 {
    margin-top: 25px;
    font-size: 25px;
    text-decoration: underline;
}
.box ol {
    margin: 10px auto 25px;
    text-align: left;
    font-size: 22px;
}
.box button {
    margin: 30px 5px 5px;
    padding: 9px 10px 5px;
    font-weight: bolder;
    border-radius: 10px;
}
.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--light);
    border-top: 10px solid var(--light);
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
}

/*-------------------------WACKY WILFRED-------------------------*/

.ufo {
    font-size: 25vmin;
    position:absolute;
    width: 100%;
    height:100%;
}
  
.monster {
    z-index: 420;
    font-size: 0.7em;
    margin: 0 auto;
    width: 1em;
    height: 1.3em;
    border-radius: 0.5em 0.5em 0em 0em / 0.6em 0.6em 0em 0em;
    box-sizing: content-box;
    border: 0.07em solid transparent;
    position: absolute;
    user-select: none;
    bottom: 2vh;
    right: 1.75vw;
    color: #7cb342;
}
  
.monster.small {
    font-size: 4rem;
}
  
.body {
    width: 100%;
    height: 100%;
    background-color: currentColor;
    border-radius: inherit;
    position: relative;
    transform-origin: bottom center;
    animation: bouncebody alternate infinite 400ms 40ms ease-in-out;
}
.eyes, .eye-lid {
    text-align: center;
    display: flex;
    font-size: 0.65em;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0.25em;
    top: 0.3em;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    background-color: black;
    border-radius: 50%;
}
.eye-lid{
    background-color: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em / 0.6em 0.6em 0.4em 0.4em;
    box-shadow: 0.03em 0.14em rgba(0,0,0,0.1);
    animation: blink forwards infinite 10s ease-in-out;
}

.eye:after {
    --pupil-size: 0.2em;
    position: absolute;
    top: 0.05em;
    left: 0.3em;
    width: var(--pupil-size);
    height: var(--pupil-size);
    background: white;
    border-radius: 50%;
    content: " ";
}

.mouth {
    font-size: 0.2em;
    width: 1em;
    height: 0.3em;
    background: black;
    border-radius: 1.5em 1.5em 0.5em 0.5em;
    position: absolute;
    bottom: 0.8em;
    left: 50%;
    transform: translateX(-50%);
    
}
  
.mouth::before {
    width: 50%;
    height: 30%;
    display: block;
    content: ' ';
    background-color: #ff8800;
    border-radius: 50% / 100% 100% 50% 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-10%) translateX(-50%);
}

.vampi-mouth {
    position: absolute;
    background: black;
    overflow: hidden;
    font-size: 0.3em;
    width: 1em;
    height: 0.7em;
    left: 50%;
    bottom: 0.3em;
    transform: translateX(-50%);
    border-radius: 0.7em 0.7em 1.2em 1.2em;
}

.vampi-mouth::before {
    content: '';
    display: block;
    background: #ff8800;
    width: 100%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.vampi-tooth::before,
.vampi-tooth::after,
.vampi-tooth {
    --teeth-size: 0.25em;
    display: block;
    width: 0;
    height: 0;
    font-size: inherit;
    border-left: calc(var(--teeth-size) / 2) solid transparent;
    border-right: calc(var(--teeth-size) / 2) solid transparent;
    border-top: var(--teeth-size) solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.vampi-tooth:before {
    content: '';
    transform: translateX(-150%) translateY(-100%);
}

.vampi-tooth:after {
    content: '';
    transform: translateX(50%) translateY(-100%);
}

.ear {
    position: absolute;
    top: -1.2em;
    transform-origin: bottom center;
    font-size: 0.3em;
    width: .8em;
    height: 1.5em;
    left: 18%;
    transform: rotate(-10deg);
    animation: antena_e 5s infinite;
}

.ear + .ear {
    left: auto;
    right: 18%;
    transform: rotate(10deg);
    animation: antena_d 5s infinite;
}

.ear:before {
    content: '';
    display: block;
    width: .8em;
    height: .8em;
    position: absolute;
    z-index: 2;
    left: 0;
    border-radius: 50%;
    background: currentColor;
    box-shadow: inset -.1em -.08em rgba(0,0,0,.1);
}

.ear:after {
    content: '';
    display: block;
    width: 0.3em;
    height: 100%;
    position: absolute;
    top: .2em;
    left: .3em;
    background: currentColor;
}



@keyframes blink {
    0%, 2%, 60%, 62%, 100% { transform: scaleX(1) scaleY(1); } 
    1%, 61% { transform: scaleX(1.3) scaleY(0.1); } 
}

@keyframes bounce { 
    to { transform: translateY(4%); } 
}

@keyframes bouncebody { 
    to { transform: scaleX(1.03) scaleY(0.97); } 
}

@keyframes speak {
    0%, 50%, 100% { transform: scaleY(1); } 
    25%, 75% { transform: scaleY(0.1); } 
}

@keyframes antena_d { 50% {transform: rotate(20deg);} }
@keyframes antena_e { 50% {transform: rotate(-20deg);} }