:root {
    --light: seashell;
}

* {
    margin: 0;
    padding: 0;
    font-family: Gluten, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-image: linear-gradient(to right, purple, tomato);
    overflow: hidden;
}

main {
    display: flex;
}

/*-------------------------LEFT DIV-------------------------*/
#left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    min-width: 250px;
    height: 100vh;
    border-right: var(--light) solid 0px;
    box-shadow: 2px 0px 10px black;
    overflow-y: auto;
}
#left-header {
    max-height: 100vh;
    fill: var(--light);
    text-shadow: black 0px 4px 8px;
    font-size: xx-large;
    overflow: hidden;
}
path {
    fill: transparent;
}
#form {
    padding: 25px;
    line-height: 1.2;
    min-width: 230px;
}
#form p {
    opacity: 75%;
    font-size: 14px;
}
#form input {
    width: 90%;
    font-size: larger;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}
.input-item {
    margin: 1px;
    padding: 2px 3px 0px;
    background: gray;
    border-radius: 4px;
}
.input-item:hover {
    opacity: 50%;
}
#buttons {
    padding: 20px;
    min-width: 200px;
}
#submit {
    margin: 5px;
    padding: 6px 10px 4px;
    font-size: larger;
    font-weight: bolder;
    box-shadow: white 0 0 15px;
    border-radius: 10px;
}
#submit:hover {
    box-shadow: gold 0 0 15px;
}
#erase {
    margin: 5px;
    padding: 6px 10px 4px;
    background: transparent;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}
/*-------------------------COLLAPSE BUTTON-------------------------*/
#collapse {
    height: 25px;
    padding: 4px;
    background: purple;
    border-bottom-right-radius: 8px;
    opacity: 75%;
}

/*-------------------------RIGHT DIV-------------------------*/
#right-div {
    padding: 40px 5vw;
    height: 100vh;
    overflow-y: auto;
}
#right-header {
    height: 100px;
}
#article {
    max-width: 60vw;
    padding-bottom: 120px;
}
#text-to-speech {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
    padding: 6px 10px 4px 7px;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}

/*-------------------------EYES-------------------------*/
/* .move-area{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 10% 45%;
    pointer-events: auto;
  }
  .container {
    width: 100%;
  }
  .eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #CCC;
  }
  .eye:after {
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
  } */